{% extends "base.html" %}
{% load custom_tags %}
{% load bootstrap%}
{% load static %}
{% load jsonify %}


{% block content %}

<div class="content">
    <div class="row">
        <div class="col-md-4 col-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Total de Contratos</h4>
                    <h1 class="card-text">{% contract_number%}</h1>
                    <a href="{% url 'account:list-client' %}" class="btn btn-primary">Ir a lista de Clientes</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Total de Ingresos</h4>
                    <h1 class="card-text">$ {%total_earnings%}</h1>
                    <a href="{% url 'finance:ingresos' %}" class="btn btn-primary">Ir a Ingresos</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Total de Egresos</h4>
                    <h1 class="card-text">$ {%total_outflows%}</h1>
                    <a href="{% url 'finance:egresos' %}" class="btn btn-primary">Ir a Egresos</a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-3">
            <div class="card text-center" style="width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Diferencia</h4>
                    <h1 class="card-text">$ {%dif_earnings%}</h1>
                    <!-- <a href="{% url 'finance:egresos' %}" class="btn btn-primary">Ir a Egresos</a> -->
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
    