{% load static %}
{% load bootstrap%}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h3>Generar recibo</h3>
        </div>
        
        <form role="form" action="{% url 'account:generate_ticket' client.id %}" method="post" enctype='multipart/form-data'>
        <div class="modal-body">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{ form_ticket|bootstrap }}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-lg-12 text-right">
                        <input type="submit" name="guardar" value="Guardar" class="btn btn-success" target="_blank">
                        <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                            Cancelar
                        </button>
                </div>
            </div>
        </form>
    </div>
</div>